/*
Tools*/

/*Font*/
@font-face {
    font-family: Lato; src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: LatoLightItalic; src: url("../fonts/Lato/Lato-LightItalic.ttf");
}
@font-face {
    font-family: LatoLight; src: url("../fonts/Lato/Lato-Light.ttf");
}
@font-face {
    font-family: LatoItalic; src: url("../fonts/Lato/Lato-Italic.ttf");
}
@font-face {
    font-family: LatoHairlineItalic; src: url("../fonts/Lato/Lato-HairlineItalic.ttf");
}
@font-face {
    font-family: LatoHairline; src: url("../fonts/Lato/Lato-Hairline.ttf");
}
@font-face {
    font-family: LatoBoldItalic; src: url("../fonts/Lato/Lato-BoldItalic.ttf");
}
@font-face {
    font-family: LatoBold; src: url("../fonts/Lato/Lato-Bold.ttf");
}
@font-face {
    font-family: LatoBlackItalic; src: url("../fonts/Lato/Lato-BlackItalic.ttf");
}
@font-face {
    font-family: LatoBlack; src: url("../fonts/Lato/Lato-Black.ttf");
}

/*Text*/

.text-italic{
    font-family: LatoItalic;
}
.text-strong {
    font-family: LatoBold;
}
.text-strong-italic {
    font-family: LatoBoldItalic;
}

.text-super-strong {
    font-family: LatoBlack;
}

.text-super-strong-italic {
    font-family: LatoBlackItalic;
}

.text-thin {
    font-family: LatoLight;
}

.text-thin-italic {
    font-family: LatoLightItalic;
}

.text-light {
    font-family: LatoHairline;
}

.lato-light-italic {
    font-family: LatoHairlineItalic;
}

.text-primary{
    color: #137774;
}
.text-white {
    color: #ffffff;
}

.text-sm {
    font-size: 12px;
}

.text-xs {
    font-size: 10px;
}

/*Padding*/
.p-0 {
    padding: 0px
}

.p-5 {
    padding: 5px
}

.p-10 {
    padding: 10px
}

.p-15 {
    padding: 15px
}

.p-20 {
    padding: 20px
}

.p-25 {
    padding: 25px
}

.p-30 {
    padding: 30px
}

.p-35 {
    padding: 35px
}

.p-40 {
    padding: 40px
}

.p-45 {
    padding: 45px
}

.p-50 {
    padding: 50px
}

.pl-0 {
    padding-left: 0px
}

.pl-5 {
    padding-left: 5px
}

.pl-10 {
    padding-left: 10px
}

.pl-15 {
    padding-left: 15px
}

.pl-20 {
    padding-left: 20px
}

.pl-25 {
    padding-left: 25px
}

.pl-30 {
    padding-left: 30px
}

.pl-35 {
    padding-left: 35px
}

.pl-40 {
    padding-left: 40px
}

.pl-45 {
    padding-left: 45px
}

.pl-50 {
    padding-left: 50px
}

.pr-0 {
    padding-right: 0px
}

.pr-5 {
    padding-right: 5px
}

.pr-10 {
    padding-right: 10px
}

.pr-15 {
    padding-right: 15px
}

.pr-20 {
    padding-right: 20px
}

.pr-25 {
    padding-right: 25px
}

.pr-30 {
    padding-right: 30px
}

.pr-35 {
    padding-right: 35px
}

.pr-40 {
    padding-right: 40px
}

.pr-45 {
    padding-right: 45px
}

.pr-50 {
    padding-right: 50px
}

.pt-0 {
    padding-top: 0px
}

.pt-5 {
    padding-top: 5px
}

.pt-10 {
    padding-top: 10px
}

.pt-15 {
    padding-top: 15px
}

.pt-20 {
    padding-top: 20px
}

.pt-25 {
    padding-top: 25px
}

.pt-30 {
    padding-top: 30px
}

.pt-35 {
    padding-top: 35px
}

.pt-40 {
    padding-top: 40px
}

.pt-45 {
    padding-top: 45px
}

.pt-50 {
    padding-top: 50px
}

.pb-0 {
    padding-bottom: 0px
}

.pb-5 {
    padding-bottom: 5px
}

.pb-10 {
    padding-bottom: 10px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-25 {
    padding-bottom: 25px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-35 {
    padding-bottom: 35px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-45 {
    padding-bottom: 45px
}

.pb-50 {
    padding-bottom: 50px
}

.no-padding {
    padding: 0
}

.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-vertical-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.h-padding-3 {
    padding-left: 3px;
    padding-right: 3px;
}

/*Margin*/
.mt-0 {
    margin-top: 0px
}

.mt-5 {
    margin-top: 5px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-45 {
    margin-top: 45px
}

.mt-50 {
    margin-top: 50px
}

.mt-55 {
    margin-top: 55px
}

.mb-0 {
    margin-bottom: 0px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-55 {
    margin-bottom: 55px
}

.ml-0 {
    margin-left: 0px
}

.ml-5 {
    margin-left: 5px
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-25 {
    margin-left: 25px
}

.ml-30 {
    margin-left: 30px
}

.ml-35 {
    margin-left: 35px
}

.ml-40 {
    margin-left: 40px
}

.ml-45 {
    margin-left: 45px
}

.ml-50 {
    margin-left: 50px
}

.ml-55 {
    margin-left: 55px
}

.mr-0 {
    margin-right: 0px
}

.mr-5 {
    margin-right: 5px
}

.mr-10 {
    margin-right: 10px
}

.mr-15 {
    margin-right: 15px
}

.mr-20 {
    margin-right: 20px
}

.mr-25 {
    margin-right: 25px
}

.mr-30 {
    margin-right: 30px
}

.mr-35 {
    margin-right: 35px
}

.mr-40 {
    margin-right: 40px
}

.mr-45 {
    margin-right: 45px
}

.mr-50 {
    margin-right: 50px
}

.mr-55 {
    margin-right: 55px
}

.no-margin {
    margin: 0
}
.margin-auto{
    margin: auto;
}

.w-100 {
    width: 100px;
}

.w-200 {
    width: 200px;
}

.item-row{
    margin-right: -5px;
    margin-left: -5px;
}

/*Navigation*/
nav {
    background-color: #137774;
}

nav .nav li a {
    color: #ffffff;
    font-family: LatoBold;
}

nav .nav li a:hover {
    background-color: transparent;
}

nav .nav li a:focus {
    background-color: transparent;
}

nav.paging.absolute{
    position: absolute;
    right: 0;
    top: 20px;
}
nav.paging{
    background-color: #ffffff;
}
nav.paging ul{
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
nav.paging ul li a{
    border: none;
    color: #888888;
}
nav.paging ul li a:hover{
    background-color: transparent;
    color: #31c1bc;
}
nav.paging ul li.active a{
    background-color: #31c1bc;
    border-radius: 50%;
}

.primary-dropdown button{
    height: 38px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    margin-top: -4px;
}
.primary-dropdown ul li{
    padding: 12px 8px;
    position: relative;
}
.primary-dropdown ul li .absolute{
    position: absolute;
    top: 18px;
}
.primary-dropdown ul li a{
    color: #8c8989;
}
.primary-dropdown ul li span{
    padding-left: 25px;
}
.primary-dropdown ul li:hover{
    background-color: #dddddd;
}
.primary-dropdown ul li a:hover{
    background-color: transparent;
}

/*Form*/
.form-control, .input-group-addon {
    border-radius: 0;
}

.input-group .form-control {
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: none;
}

.input-group .input-group-addon.bg-primary {
    border-color: #137774;
}

.input-group .input-group-addon.bg-primary a {
    text-decoration: none;
    color: #ffffff;
}

.no-radius{
    border-radius: 0;
}
.has-radius {
    border-radius: 4px;
}
.no-bg-shadow{
    box-shadow: none;
}
.has-shadow{
    box-shadow: 0 0 3px #c7c7c7;
}
.no-border{
    border: none;
}

/*Button*/
.btn {
    border-radius: 0;
}
.btn.has-radius{
    border-radius: 2px;
}

.btn-default{
    background-color: #F4F4F4;
}

.btn-primary, .btn-primary:hover {
    background-color: #137774;
    border-color: #137774;
}

.btn-link {
    width: 100%;
    border: solid 1px #dddddd;
    padding: 5px 0;
}

.btn-white, .btn-white:hover, .btn-white:focus {
    background-color: #ffffff;
    color: #000000;
}

.btn-white-outline, .btn-white-outline:hover, .btn-white-outline:focus {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-login{
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 0;
    position: relative;
}
.btn-login:hover{
    color: #ffffff;
}
.btn-login i{
    position: absolute;
    left: 10px;
    top: 12px;
}
.btn-login.fb{
    background-color: #4A67AD;
}
.btn-login.gplus{
    background-color: #CF4D37;
}

.badge-primary {
    background-color: #ff7200;
}

.bg-primary{
    background-color: #137774;
}
.bg-white{
    background-color: #ffffff!important;
}
.bg-muted{
    background-color: #FAFAFA;
}
.bg-fb{background-color: #425993}
.bg-twitter{background-color: #4FAAE8}
.bg-linkedin{background-color: #367AB0}
.bg-gplus{background-color: #AD2422}

.sos-ico{
    width: 35px;
}

.card{
    border: solid 1px #dddddd;
}

.strip-line{
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    position: relative;
}
.strip-line p{
    position: absolute;
    width: 100%;
    left: 0;
    top: -11px;
}
.strip-line p span{
    background-color: #ffffff;
    padding: 0 20px;
}

.divider{
    border-bottom: solid 1px #dddddd;
}

.cursor-pointer{
    cursor: pointer;
}

.breadcrumb{
    background-color: transparent;
    margin-bottom: 0;
    padding: 15px 0;
}

.nav-tabs{
    border-bottom: none;
}
.nav-tabs li{
    font-weight: bold;
}
.nav-tabs li a:hover{
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs li.active a{
    color: #258c87!important;
    font-weight: bold;
    border: solid 3px!important;
    border-bottom-color: #258c87!important;
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
}

.border-divider{
    border-bottom: solid 10px #dddddd;
}

.fixed{
    position: fixed;
}