body{
    font-family: Lato;
}
header{
    background-color: #6ED3D0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    list-style: none;
}
a.text-white:hover{
    color: #ffffff;
}

/*Header*/
.v-head-middle{
    margin-top: 26px;
}

/*Carousel*/
.carousel-caption{
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    text-align: left;
    padding: 20px;
}
.carousel-caption .caption-date{
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}


/*List Group*/
.list-tt .list-group-item {
    font-size: 12px;
    border-radius: 0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid 1px #dddddd;
    height: 94.7px;
}
.list-tt .list-group-item img{
    max-height: 74px;
}
.list-tt .list-group-item:first-child{
    border-top: none;
}
.panel-tt{
    border-radius: 0;
}
.panel-tt .panel-heading{
    padding: 12px 15px;
    background-color: #6ED3D0;
    color: #ffffff;
    border-bottom: solid 5px #137774;
}
.list-tt .list-group-item span.badge{
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 6px;
}
.trending-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 51.6px;
}

.v-thumb{
    height: 160px;
}
.v-thumb:first-child{
    margin-bottom: 4px;
}
.v-thumb-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.v-thumb-item .thumb-caption{
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 12px;
}
.v-thumb-item .thumb-caption p.no-margin{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.v-thumb-item .thumb-caption .caption-date{
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.v-thumb img{
    width: 100%;
    height: 100%;
}
.top-r-section{
    padding-left: 0;
}

.article-hglg{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.article-hglg-title{
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main-product-home, .list-item-home{
    border: solid 1px #dddddd;
    font-size: 13px;
}
.main-product-home{
    height: 220px;
}
.main-product-home p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list-item-home{
    height: 110px;
    padding: 15px;
}
.list-item-home p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-partner{
    border: solid 1px #dddddd;
    width: 14.28%;
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    padding: 20px;
}

.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper .card{
    display: inline-block;
    width: 21%;
    border: solid 1px #dddddd;
    position: relative;
}
.scrolling-wrapper .card .item-info{
    padding: 15px;
    height: 100px;
}
.scrolling-wrapper .card .item-info p.title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: initial;
}
.scrolling-wrapper .card .item-info .price{
    height: 20px;
}
.scrolling-wrapper .card .item-info .price div span{
    font-weight: bold;
}


#carousel-donation .carousel-inner .item .card .box-info{
    padding: 10px;
}
#carousel-donation .carousel-indicators{
    bottom: 0;
}
#carousel-donation .carousel-indicators li{
    width: 30px;
    height: 4px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #dddddd;
    border-radius: 0px;
}
#carousel-donation .carousel-indicators .active {
    margin: 0;
    background-color: #dddddd;
    border: 1px solid #dddddd;
}

.form_date span.input-group-addon{
    background-color: transparent;
    color: #dddddd;
    border-radius: 4px 0 0 4px;
}
.form_date input.form-control{
    border-left: none;
    box-shadow: none;
    border-radius: 0 4px 4px 0;
    border-color: #cccccc;
}

.img-topik{
    border-radius: 6px;
    width: 68px;
    height: 68px;
    display: table;
}
.img-topik div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.img-topik div img{
    margin: auto;
}
.img-topik.heart{
    background-color: #FF7384;
}
.img-topik.health{
    background-color: #FFDF52;
}
.img-topik.edu{
    background-color: #C196EC;
}
.img-topik.world{
    background-color: #00A9F6;
}
.img-topik.hobby{
    background-color: #DC3323;
}

/*Footer*/

footer{
    background-color: #137774;
    color: #ffffff;
}
footer .sitemap .list-group li{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: transparent;
    border: none;
}
footer .payment-method-section{
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer .tb-payment tr td{
    padding-right: 20px;
    text-align: right;
}
footer .tb-socmed, footer .tb-socmed tbody, footer .tb-socmed tbody tr{
    width: 100%;
}
footer .tb-socmed tr td{
    text-align: right;
    padding-left: 20px;
    width: 100%;
}
footer .payment-ic{
    width: 70px;
    height: 30px;
    background-color: #dddddd;
}
footer .socmed-ic{
    width: 40px;
    height: 40px;
    background-color: #dddddd;
}

@media (max-width: 767px) {
    .mobile-header{
        position: absolute;
        background-color: #ffffff;
        z-index: 1;
    }

    /*Sticky Search Header*/
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px #808080;
        padding-left: 35px;
        padding-right: 35px;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
    }

    .sticky + .m-container {
        padding-top: 102px;
    }
    .btn-cart{
        position: fixed;
        z-index: 1;
        right: 10px;
        top: 15px;
    }
    .logo-m{
        height: 39px;
        margin: auto;
    }

    .m-container{
        margin-top: 103px;
    }

    .top-group{
        height: 39px;
    }
    .sign-btn-group{
        margin-top: 5px;
    }
    .trending-m .tt-items .box-img{
        padding-left: 35px;
    }
    .trending-m .tt-items .m-left-pad{
        padding-left: 35px;
    }
    .trending-m .title-tt{
        padding-right: 35px;
    }

    .scrolling-wrapper .card {
        width: 38%;
    }
    .item-partner{
        width: 50%;
    }
    .item-partner-show{
        border: solid 1px #dddddd;
        padding: 68px 0 69px 0;
        width: 50%;
        display: inline-block;
        text-align: center;
    }

    .main-product-home, .list-item-home{
        font-size: 12px;
    }
    .main-product-home{
        height: auto;
    }

    .v-thumb-item .thumb-caption{
        position: relative;
    }

    .travel-form{
        padding-left: 15px;
    }
    footer .payment-ic{
        width: auto;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .top-group{
        height: 81px;
    }
    .sign-btn-group{
        margin-top: 25px;
    }
    .v-head-middle{
        margin-bottom: 20px;
    }
    .trending-m{
        margin-left: -25px;
        margin-right: -25px;
    }
    .trending-m .tt-items .box-img{
        padding-left: 55px;
    }
    .trending-m .title-tt{
        padding-right: 55px;
    }

    .scrolling-wrapper .card {
        width: 28%;
    }
    .item-partner{
        width: 25%;
    }
    .item-partner-show{
        border: solid 1px #dddddd;
        padding: 82px 0;
        width: 25%;
        display: inline-block;
        text-align: center;
    }
    .main-product-home{
        height: auto;
    }
}
@media (max-width: 991px) {
    .top-group{
        width: 100%;
        display: block;
        margin-top: 10px;
    }
    .v-head-middle{
        margin-top: 0;
    }

    .trending-m{
        border-top: solid 1px #dddddd;
        border-bottom: solid 1px #dddddd;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #e2e2e2;
    }
    .trending-m .tt-items .box-img{
        padding-right: 0;
    }
    .trending-m .title-tt{
        font-size: 12px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .trending-m .carousel-control{
        background-color: transparent;
        background-image: none;
        width: 5%;
        font-size: 20px;
    }
    .scrolling-wrapper .card .item-info, .scrolling-wrapper .card .item-info .price {
        height: auto;
    }

    .top-r-section {
        padding-left: 15px;
        margin-top: 15px;
    }
    .v-thumb {
        height: auto;
    }
    .v-thumb.first{
        padding-right: 5px;
    }
    .v-thumb.last{
        padding-left: 5px;
    }
    .carousel-caption.mobile{
        font-size: 12px;
        padding: 10px;
        background: transparent;
    }
    .carousel-caption.mobile p.caption-date {
        font-size: 8px;
        margin-bottom: 0px;
        margin-top: 2px;
        font-weight: 100;
    }
    .article-hglg-m{
        border-top: solid 1px #dddddd;
        padding-top: 10px;
    }
    .article-hglg-m:first-child{
        border-top: none;
    }
    .article-hglg-m:last-child{
        margin-bottom: 30px;
    }
    .article-hglg-m div:last-child{
        padding-left: 0;
    }
    .article-hglg{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .v-thumb {
        height: 149px;
    }
    .list-group-item {
        padding: 11px 15px;
    }
    .trending-title {
        -webkit-line-clamp: 2;
        height: 36.6px;
    }
}

@media (min-width: 992px) {
    .donation-box{
        padding-left: 0;
    }
    .donation-box .card{
        height: 264px;
    }
    .travel-form .card{
        height: 329px;
    }
}