body{
    font-family: Lato;
}
header{
    background-color: #31c1bc;
}
.header-desktop{
    position: fixed;
    width: 100%;
    z-index: 4;
}
.nav-main-menu li.active a{
    background-color: #ffffff;
    color: #137774;
}
.sub-nav{
    background-color: #ffffff;
    box-shadow: 0 2px 4px #e6e6e6;
}
.sub-nav .nav-tabs{
    border-bottom: none;
}
.sub-nav .nav-tabs li a{
    color: #000000;
}
.content{
    min-height: 200px;
}
.middle-section{
    background-color: #FAFAFA;
    padding: 20px 0;
}
.middle-section.media{
    margin-top: 0;
    padding: 40px 0 15px 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a.default-link{
    color: #3674C8;
}
a:hover{
    text-decoration: none;
    list-style: none;
}
a button:hover{
    text-decoration: none!important;
    list-style: none;
}
a:focus{
    color: inherit;
}
a.text-white:hover{
    color: #ffffff;
}

/*Header*/
.v-head-middle{
    margin-top: 26px;
}

/*Carousel*/
.carousel-caption{
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    text-align: left;
    padding: 20px;
}
.carousel-caption .caption-date{
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}


/*List Group*/
.list-tt .list-group-item {
    font-size: 12px;
    border-radius: 0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid 1px #dddddd;
    height: 94.7px;
}
.list-tt .list-group-item img{
    max-height: 74px;
}
.list-tt .list-group-item:first-child{
    border-top: none;
}
.panel-tt{
    border-radius: 0;
}
.panel-tt .panel-heading{
    padding: 12px 15px;
    background-color: #31c1bc;
    color: #ffffff;
    border-bottom: solid 5px #137774;
    border-radius: 0;
}
.list-tt .list-group-item span.badge{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 6px;
}
.trending-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 51.6px;
}

.v-thumb{
    height: 160px;
}
.v-thumb-media{
    height: 228.5px;
}
.v-thumb:first-child{
    margin-bottom: 4px;
}
.v-thumb-media:first-child{
    margin-bottom: 15px;
}
.v-thumb-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.v-thumb-item .thumb-caption{
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 12px;
}
.v-thumb-item .thumb-caption p.no-margin{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.v-thumb-item .thumb-caption .caption-date{
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.v-thumb img, .v-thumb-media img{
    width: 100%;
    height: 100%;
}
.top-r-section{
    padding-left: 0;
}

.article-hglg{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.article-hglg-title{
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main-product-home, .list-item-home{
    border: solid 1px #dddddd;
    font-size: 13px;
}
.main-product-home{
    height: 220px;
}
.main-product-home img.main{
    height: 218px;
}
.main-product-home p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list-item-home{
    height: 110px;
    padding: 0;
}
.list-item-home img.items{
    height: 108px;
}
.list-item-home p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-partner{
    border-right: solid 1px #dddddd;
    width: 14.28%;
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    padding: 0 20px;
}
.item-partner:last-child{
    border-right: none;
}
.item-partner p{
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.item-partner .margin-official{
    margin-top: 50%;
}

.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper .card{
    display: inline-block;
    width: 21%;
    border: solid 1px #dddddd;
    position: relative;
}
.scrolling-wrapper .card .item-info{
    padding: 15px;
    height: 100px;
}
.scrolling-wrapper .card .item-info p.title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: initial;
}
.scrolling-wrapper .card .item-info .price{
    height: 20px;
}
.scrolling-wrapper .card .item-info .price div span{
    font-weight: bold;
}


#carousel-donation .carousel-inner .item .card .box-info{
    padding: 10px;
}
#carousel-donation .carousel-indicators{
    bottom: 0;
}
#carousel-donation .carousel-indicators li{
    width: 30px;
    height: 4px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #dddddd;
    border-radius: 0px;
}
#carousel-donation .carousel-indicators .active {
    margin: 0;
    background-color: #dddddd;
    border: 1px solid #dddddd;
}

.form_date span.input-group-addon{
    background-color: transparent;
    color: #dddddd;
    border-radius: 4px 0 0 4px;
}
.form_date input.form-control{
    border-left: none;
    box-shadow: none;
    border-radius: 0 4px 4px 0;
    border-color: #cccccc;
}

.badge-tt{
    background-color: #E95435;
    border: solid 2px #ffffff;
}

.img-topik{
    border-radius: 6px;
    width: 68px;
    height: 68px;
    display: table;
}
.img-topik div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.img-topik div img{
    margin: auto;
}
.img-topik.heart{
    background-color: #FF7384;
}
.img-topik.health{
    background-color: #FFDF52;
}
.img-topik.edu{
    background-color: #C196EC;
}
.img-topik.world{
    background-color: #00A9F6;
}
.img-topik.hobby{
    background-color: #DC3323;
}


.form-login .form-control, .form-register .form-control{
    border: solid 1px #dddddd;
    border-radius: 4px;
    height: 47px;
}
.form-login .input-group .form-control, .form-register .input-group .form-control{
    border-right: none;
}
.form-login .input-group .input-group-addon, .form-register .input-group .input-group-addon{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FAFAFA;
    border-color: #dddddd;
}
.form-login button, .form-register button{
    height: 47px;
}
#modalLogin .modal-footer, #modalRegister .modal-footer, #modalForgotPassword .modal-footer{
    background-color: #FAFAFA;
    text-align: center;
    border-top: none;
}

.off-sort ul li{
    width: 3.60%;
    text-align: center;
}

.anchor{
    display: block;
    height: 180px; /*make scroll div stay under fixed header*/
    margin-top: -180px;
    visibility: hidden;
}

.mitra-items{
    margin: 20px -5px;
}
.list-mitra{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    width: 13.18%;
    padding: 10px;
}
.list-mitra p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    text-align: center;
}

/*Footer*/

footer{
    background-color: #258c88;
    color: #ffffff;
}
footer .sitemap .list-group li{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: transparent;
    border: none;
}
footer .payment-method-section{
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer .tb-payment{
    width: 100%;
}
footer .tb-payment tr td{
    padding-right: 20px;
    text-align: right;
}
footer .tb-socmed, footer .tb-socmed tbody, footer .tb-socmed tbody tr{
    width: 100%;
}
footer .tb-socmed tr td{
    text-align: right;
    padding-left: 20px;
    width: 100%;
}
footer .payment-ic{
    width: 70px;
    height: 30px;
}
footer .socmed-ic{
    width: 40px;
    height: 40px;
    background-color: #dddddd;
}
footer .payment-section li:first-child{
    height: 46px;
    vertical-align: top;
    padding-top: 10px;
}

.article-hglg-m span.badge-tt{
    position: absolute;
    left: 0;
    top: 0;
}

.share-art-btn{
    font-size: 9px;
    padding: 1px 6px;
    border-radius: 1px;
    -moz-border-radius:    1px;
    -webkit-border-radius: 1px;
    box-shadow: 0 0 1px #171717;
}
.callout {
    background: #137774;
    position: relative;
    margin-right: 3px;
}
.callout:before {
    content: "";
    position: absolute;
    right: -3px;
    top: 5px;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-left: 3px solid #137774;
    border-bottom: 2px solid transparent;
}

.mitra-input{
    border: solid 1px #dddddd;
}
.mitra-input .input-group-addon{
    background-color: transparent;
    border: none;
}



@media (max-width: 767px) {
    .pr-xs{
        padding-right: 15px;
    }

    .mobile-header{
        position: absolute;
        background-color: #31c1bc;
        z-index: 4;
    }

    /*Sticky Search Header*/
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #31c1bc;
        box-shadow: 0px 3px 3px #808080;
        padding-left: 35px;
        padding-right: 35px;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
    }

    .sticky + .m-container {
        padding-top: 102px;
    }
    .btn-cart{
        position: fixed;
        z-index: 1;
        right: 10px;
        top: 15px;
    }
    .logo-m{
        height: 39px;
        margin: auto;
    }

    .m-container{
        margin-top: 103px;
    }

    .top-group{
        height: 39px;
    }
    .sign-btn-group{
        margin-top: 5px;
    }
    .trending-m .tt-items .box-img{
        padding-left: 35px;
    }
    .trending-m .tt-items .m-left-pad{
        padding-left: 35px;
    }
    .trending-m .tt-items .m-left-pad span.badge{
        position: absolute;
        left: 30px;
    }
    .trending-m .title-tt{
        padding-right: 35px;
    }

    .scrolling-wrapper .card {
        width: 38%;
    }
    .item-partner{
        width: 50%;
        margin-bottom: 15px;
    }
    .item-partner:nth-child(even){
        border-right: none;
    }
    .item-partner.last{
        width: 100%;
        margin-bottom: 0;
    }
    .item-partner .margin-official{
        margin-top: 15px;
    }
    .item-partner-show{
        border: solid 1px #dddddd;
        padding: 68px 0 69px 0;
        width: 50%;
        display: inline-block;
        text-align: center;
    }

    .main-product-home, .list-item-home{
        font-size: 12px;
    }
    .main-product-home{
        height: auto;
    }
    .list-item-home{
        height: auto;
        padding: 5px;
    }
    .main-product-home img.main, .list-item-home img.items{
        height: auto;
    }
    .list-item-home img.items{
        max-height: 70px;
        margin: auto;
    }

    .v-thumb-item .thumb-caption{
        position: relative;
    }

    .travel-form{
        padding-left: 15px;
    }
    .label-murah{
        position: absolute;
        top: 0;
        left: 0;
    }
    .label-murah img{
        width: 75px;
    }

    .anchor{
        height: 55px; /*make scroll div stay under fixed header*/
        margin-top: -55px;
        display: block;
        visibility: hidden;
    }
    footer .payment-ic{
        width: auto;
    }

    .middle-section.media{
        margin-top: 73px;
    }
    .off-sort ul li {
        width: 9.6%;
    }
    .list-mitra{
        width: 46%;
    }
    .mitra-input{
        margin-top: 20px;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .content{
        margin-top: 225px;
    }
    .content.with-breadcrumb{
        margin-top: 275px;
    }
    .anchor {
        display: block;
        height: 260px;
        margin-top: -260px;
        visibility: hidden;
    }
    .top-group{
        height: 81px;
    }
    .sign-btn-group{
        margin-top: 25px;
    }
    .v-head-middle{
        margin-bottom: 20px;
    }
    .trending-m{
        margin-left: -25px;
        margin-right: -25px;
    }
    .trending-m .tt-items .box-img{
        padding-left: 55px;
    }
    .trending-m .title-tt{
        padding-right: 55px;
    }

    .scrolling-wrapper .card {
        width: 28%;
    }
    .item-partner{
        width: 25%;
        margin-bottom: 15px;
    }
    .item-partner.last{
        width: 50%;
    }
    .item-partner .margin-official {
        margin-top: 30%;
    }
    .item-partner-show{
        border: solid 1px #dddddd;
        padding: 82px 0;
        width: 25%;
        display: inline-block;
        text-align: center;
    }
    .main-product-home{
        height: auto;
    }
    .middle-section{
        margin-top: 249px;
    }

    .list-mitra{
        width: 14.98%;
    }
}
@media (max-width: 991px) {
    .top-group{
        width: 100%;
        display: block;
        margin-top: 10px;
    }
    .v-head-middle{
        margin-top: 0;
    }

    .trending-m{
        border-top: solid 1px #dddddd;
        border-bottom: solid 1px #dddddd;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #e2e2e2;
    }
    .trending-m .tt-items .box-img{
        padding-right: 0;
    }
    .trending-m .title-tt{
        font-size: 12px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .trending-m .carousel-control{
        background-color: transparent;
        background-image: none;
        width: 5%;
        font-size: 20px;
    }
    .scrolling-wrapper .card .item-info, .scrolling-wrapper .card .item-info .price {
        height: auto;
    }

    .top-r-section {
        padding-left: 15px;
        margin-top: 15px;
    }
    .v-thumb, .v-thumb-media {
        height: auto;
    }
    .v-thumb.first, .v-thumb-media.first{
        padding-right: 5px;
    }
    .v-thumb.last, .v-thumb-media.last{
        padding-left: 5px;
    }
    .carousel-caption.mobile{
        font-size: 12px;
        padding: 10px;
        background: transparent;
    }
    .carousel-caption.mobile p.caption-date {
        font-size: 8px;
        margin-bottom: 0px;
        margin-top: 2px;
        font-weight: 100;
    }
    .article-hglg-m{
        border-top: solid 1px #dddddd;
        padding-top: 10px;
    }
    .article-hglg-m:first-child{
        border-top: none;
    }
    .article-hglg-m:last-child{
        margin-bottom: 30px;
    }
    .article-hglg-m div:last-child{
        padding-left: 0;
    }
    .article-hglg{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .list-group-item {
        padding: 11px 15px;
    }
    .trending-title {
        -webkit-line-clamp: 2;
        height: 36.6px;
    }
}

@media (min-width: 992px) {
    .v-thumb {
        height: 160px;
    }
    .main-slider{
        height: 366px!important;
        width: 100%;
    }
    .content{
        margin-top: 145px;
        width: 100%;
    }
    .content.with-breadcrumb{
        margin-top: 195px;
    }
    .donation-box{
        padding-left: 0;
    }
    .donation-box .card{
        height: 264px;
    }
    .travel-form .card{
        height: 329px;
    }
    .middle-section{
        margin-top: 23px;
    }
}