.overlay-sidenav{
    position: fixed;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 99;
}
.btn-nav{
    cursor: pointer;
    position: fixed;
    z-index: 1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px #2f2e2e;
}

.sidenav .head-nav{
    background-color: #137774;
    padding: 8px 40px;
    font-size: 12px;
}
.sidenav .head-nav a{
    text-decoration: none;
    color: #ffffff;
}

.sidenav .menu-item{
    padding: 0 32px;
}
.sidenav .menu-item a {
    padding: 10px 8px;
    text-decoration: none;
    font-size: 12px;
    color: #137774;
    display: block;
    transition: 0.3s;
}

.sidenav .menu-item a.item{
    border-bottom: solid 1px #d0d0d0;
}
.sidenav .menu-item a.item:last-child{
    border-bottom: none;
}

.sidenav .menu-item a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    display: block;
    font-size: 20px;
    text-align: right;
    padding: 15px;
    background-color: #31c1bc;
}
.sidenav .closebtn a{
    text-decoration: none;
    color: #ffffff;
}
.sidenav .list-group .list-group-item{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 10px 0;
}
.sidenav .list-group li:last-child{
    border-bottom: none;
}
.sidenav .list-group li a .absolute{
    position: absolute;
    top: 13px;
    left: 0;
}
.sidenav .list-group li a span{
    padding-left: 25px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav .menu-item a {font-size: 18px;}
}